@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}

#banner{
	position: relative;
	width: 100%;
	height: 50%;
    background-size: 65%;
    background-repeat: no-repeat;
	background-color: white;
    margin-bottom: 35px;
}
    #nugep{
        position: relative;
        padding-top: 25px;
        padding-left: 10%;
        width: 80%;
        height: 280px;
    }

#menu{
	position: relative;
	width: 100%;
	height: 60px;
    background-color: #1F759C;
    border: solid;
    border-color: #87BCAA;
    border-left: none;
    border-right: none;
    border-top: none;
}
        #menu_h{
            list-style: none;
            padding: 0;
            margin-left: 20px;
        }
        #menu_h li{
            display: inline;
            font-size: clamp(1em, 1em + 1vw, 1em);
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
            font-weight: bold;
        }
        #menu_h li a{
            padding: 20px;
            color: white;
            display: inline-block;
            text-decoration: none;
            font-weight: bold;
        }
        #menu_h li a:hover{
            background-color: #124664;
            font-weight: bold;
        }

#principal{
    position: relative;
    width: 100%;
    height: 1300px;
    border: solid;
    border-color: #87BCAA;
    border-top: none;
    border-left: none;
    border-right: none;
    background-image: url(img/whiteVertical.jpg);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

#rodape{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #1F759C;
    border: solid;
    border-color: #87BCAA;
    border: none;
}


#conteudo{
    position:relative;
    width: 100%;
    height: 100%;
    border: #124664 solid;
    border-left: none;
    border-right: none;
   
}

#titulo{
    position: relative;
    margin-top: 8%;
    margin-left: 5%;
    margin-bottom: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #124664;
    font-size: clamp(2.em, 1em + 1vw, 6em);
}

#imagem{
    float: right;
}

article{
    width: 95%;
    margin-left: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(1em, 1em + 1vw, 2em);
    color: #124664;
    text-align:justify;
}

article img{
    width: 45%;
    float: right;
    margin: 1em 0 1em 1em;
}